* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #222;
}

/* HEADER */

header {
    height: 75px;
    background: #111827;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #60a5fa;
}

/* SUCCESS PAGE */

.success-page {
    min-height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.success-card {
    width: 100%;
    max-width: 650px;
    background: white;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

/* SUCCESS ICON */

.success-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px;
    border-radius: 50%;
    background: #dcfce7;
    color: #16a34a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: bold;
}

.success-card h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.message {
    color: #6b7280;
    line-height: 1.6;
}

/* ORDER ID */

.order-number {
    margin: 25px 0;
    padding: 15px;
    background: #f8fafc;
    border-radius: 8px;
}

/* ORDER INFO */

.order-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 25px 0;
}

.order-info div {
    background: #f8fafc;
    padding: 18px 10px;
    border-radius: 10px;
}

.order-info span {
    display: block;
    color: #6b7280;
    font-size: 13px;
    margin-bottom: 8px;
}

.order-info strong {
    font-size: 14px;
}

/* BUTTONS */

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.buttons a {
    padding: 13px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.shop-btn {
    background: #2563eb;
    color: white;
}

.home-btn {
    background: #e5e7eb;
    color: #222;
}

.shop-btn:hover {
    background: #1d4ed8;
}

/* FOOTER */

footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 25px;
}

/* MOBILE */

@media (max-width: 700px) {

    .success-card {
        padding: 30px 20px;
    }

    .order-info {
        grid-template-columns: 1fr;
    }

    .buttons {
        flex-direction: column;
    }

    nav {
        gap: 12px;
    }
}