* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fb;
    color: #222;
}

/* Main */

.welcome-container {
    min-height: calc(100vh - 70px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 20px;

    background:
        linear-gradient(
            135deg,
            #eef2ff,
            #f8f9ff,
            #e0f2fe
        );
}

.welcome-content {
    width: 100%;
    max-width: 1100px;

    text-align: center;
}

/* Logo */

.logo {
    font-size: 42px;
    font-weight: bold;

    color: #5b35d5;

    margin-bottom: 20px;
}

/* Heading */

h1 {
    font-size: 44px;
    margin-bottom: 12px;

    color: #111827;
}

.tagline {
    font-size: 21px;
    color: #4b5563;

    margin-bottom: 12px;
}

.description {
    max-width: 650px;

    margin: 0 auto 40px;

    line-height: 1.6;

    color: #6b7280;
}

/* Login Heading */

h2 {
    font-size: 25px;

    margin-bottom: 25px;

    color: #111827;
}

/* Cards */

.login-options {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 25px;
}

.login-card {
    background: white;

    padding: 35px 25px;

    border-radius: 18px;

    text-decoration: none;

    color: #222;

    box-shadow:
        0 8px 25px
        rgba(0, 0, 0, 0.08);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.login-card:hover {
    transform: translateY(-8px);

    box-shadow:
        0 15px 35px
        rgba(0, 0, 0, 0.15);
}

/* Icons */

.icon {
    font-size: 55px;

    margin-bottom: 18px;
}

/* Card Heading */

.login-card h3 {
    font-size: 23px;

    margin-bottom: 12px;
}

.login-card p {
    color: #6b7280;

    line-height: 1.5;

    min-height: 45px;

    margin-bottom: 20px;
}

.login-card span {
    font-weight: bold;

    color: #5b35d5;
}

/* Different Card Styling */

.customer {
    border-top: 5px solid #5b35d5;
}

.admin {
    border-top: 5px solid #2563eb;
}

.delivery {
    border-top: 5px solid #16a34a;
}

/* Footer */

footer {
    height: 70px;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #111827;

    color: #9ca3af;

    font-size: 14px;
}

/* Tablet */

@media (max-width: 850px) {

    .login-options {
        grid-template-columns: 1fr;
    }

    .login-card {
        max-width: 500px;

        width: 100%;

        margin: auto;
    }

    h1 {
        font-size: 36px;
    }
}

/* Mobile */

@media (max-width: 500px) {

    .welcome-container {
        padding: 35px 15px;
    }

    .logo {
        font-size: 34px;
    }

    h1 {
        font-size: 30px;
    }

    .tagline {
        font-size: 18px;
    }
}